# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: Bridge
site_url: https://never-over.github.io/bridge/
repo_name: bridge
repo_url: https://github.com/Never-Over/bridge
nav:
  - index.md
  - faq.md
theme:
  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  name: material
  favicon: favicon.ico
  icon:
    logo: fontawesome/solid/shield-halved
    repo: fontawesome/brands/git-alt
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.tracking
    - toc.follow
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
extra:
  social:
    - icon: fontawesome/solid/envelope
      link: mailto:admin@0x63problems.dev
