annotated-types==0.6.0
asgiref==3.8.1
-e file:///Users/caeleanbarnes/Projects/Work/bridge/bridge-sdk
build==1.1.1
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
django==5.0.3
docker==7.0.0
google-api-core==2.18.0
google-auth==2.29.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
idna==3.6
packaging==24.0
proto-plus==1.23.0
protobuf==4.25.3
psycopg==3.1.18
psycopg-binary==3.1.18
pyasn1==0.6.0
pyasn1-modules==0.4.0
pydantic==2.6.4
pydantic-core==2.16.3
pyproject-hooks==1.0.0
requests==2.31.0
rsa==4.9
ruff==0.3.4
sqlparse==0.4.4
typing-extensions==4.10.0
urllib3==2.2.1
